/* RESET DO NAVEGADOR */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 300px;
    margin: 15px auto;
}

body {
    background-color: rgb(51, 23, 23);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
p{
    text-align: justify;
    font-size: 20px;
    font-family: "Times New Roman";
    font-style: italic;
    color: white;
}
p2{
    text-align: justify;
    font-size: 20px;
    font-family: "Times New Roman";
    font-style: italic;
    color: white;
}