/* RESET DO NAVEGADOR */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{font-size: 60px;
    margin: 30px 0;
    color: #fff;
}
body {
    font-family: 'Playfair Display', serif;
    background-color:rgb(51, 23, 23) ;
    color: #0e0909;
    text-align: center; 
    background-image: url(assets/logodorestaurante.png);
    background-position: calc(45);
    background-repeat: no-repeat;

}

img {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding:5px 30px;
    border-radius: 30px;
}
h2 {
    font-size: 40px;
    margin: 30px 0;
}


table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 60%; 
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 12px 15px;
}


th {
    background-color: #640101ce; 
    text-align: center;
}

td:first-child {
    text-align: left; 
}
td:last-child {
    text-align: right; 
}

tr:nth-child(even){
    background-color: #f9f9f9;
}

button{
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 30px;
    background-color:white;
    text-align: center;
    font-weight: bold;

}